h1 {
  text-align:center;
  font-size:50px;
}

.menuitem {
  outline: 1px solid;
  flex-grow: 100;
  font-size: 20px;
  padding:1%;
}

.menubar {
  margin-left:5%;
  margin-right:5%;
  border-style: solid;
  border-width: 3px;
  border-radius:5px;
  display: flex;
  flex-direction: row;
  align-items: space-around;
  align-content:space-around;
  flex-wrap: wrap;
}

.contact {
  margin-left:10%;
}

footer {
  text-align:center;
}
