.menuitem {
  outline: 1px solid;
  flex-grow: 100;
  font-size: 100%;
  padding:3%;
}

.menubar {
  border-style: solid;
  border-width: 3px;
  border-radius:5px;
  display: flex;
  flex-direction: row;
  align-items: space-around;
  align-content:space-around;
  flex-wrap: wrap;
}
