.menuitem {
  outline: 1px solid;
  flex-grow: 100;
  font-size: 100%;
}

.menubar {
  border-style: solid;
  border-width: 3px;
  border-radius:5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
