h1 {
  text-align:center;
  font-size:50px;
}

.menuitem {
  outline: 1px solid;
  flex-grow: 100;
  font-size: 20px;
  padding:1%;
}

.menubar {
  margin-left:5%;
  margin-right:5%;
  border-style: solid;
  border-width: 3px;
  border-radius:5px;
  display: flex;
  flex-direction: row;
  align-items: space-around;
  align-content:space-around;
  flex-wrap: wrap;
}

.projects {
  font-size:18px;
  padding-bottom:25%;
}

.project-list {
  display: flex;
  flex-direction: column;
  margin-left:10%;
  width:60%
}

.project-list-item {
  text-align:center;
  display: flex;
  flex-direction:column;
  padding-bottom:5%;
  margin-bottom:5%;
  padding-top:5%;
  padding-left:5%;
  border-style:solid;
  margin-right:20%;
  padding-right:5%;
}

img {
  max-width:100%;
}

.item {
  font-size:23px
}

footer {
  text-align:center;
}
