h1 {
  text-align:center;
  font-size:50px;
}

.menuitem {
  outline: 1px solid;
  flex-grow: 100;
  font-size: 20px;
  padding:1%;
}

.menubar {
  margin-left:5%;
  margin-right:5%;
  border-style: solid;
  border-width: 3px;
  border-radius:5px;
  display: flex;
  flex-direction: row;
  align-items: space-around;
  align-content:space-around;
  flex-wrap: wrap;
}

.projects {
  font-size:18px;
  padding-bottom:25%;
  text-indent:45pt;
}

.project-list {
  display: flex;
  flex-direction: column;
}

.project-list-item {
  display: flex;
  flex-direction:column;
  text-align:left;
  padding-bottom:5%;
}

img {
  max-width:50%;
  padding-left:16%;
}

footer {
  text-align:center;
}
